body {
    background: #1E1E1E;
    color: #558B3D;
    font-family: 'Ubuntu Mono';
    font-size: 14px;
    margin: 0;
    padding:0;
}

main {
    text-align: center;
    margin-bottom: 50px;
}

main h1 {
    font-size: 76px;
    margin: 0;
}

.search-box {
    width: 525px;
    height: 30px;
    color: #558B3D;
    background-color: #1a1a1a;
    border: 1px solid #558B3D;
    box-shadow: 0 0 5px #000;
    text-align: center;
    margin: 20px 0 10px 0;
    font-family: 'Ubuntu Mono';
    font-size: 14px;
}
.search-box:focus {
    outline-width: 0;
}

.search-box::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(84, 138, 61, 0.35);
}
.search-box::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(84, 138, 61, 0.5);
    opacity:  1;
}
.search-box:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: rgba(84, 138, 61, 0.5);
}



main span {
    font-size: 14px;
}

.table {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.table .cell {
    display: table-cell;
    vertical-align: middle;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

/*
nav ul strong {
    font-size: 16px;
}
*/

nav ul a {
    color: rgba(84, 138, 61, 0.5);
    text-decoration: none;
    line-height: 200%;
}

nav ul a:visited {
    color: rgba(84, 138, 61, 0.5);
}

.character {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    height: 40%;
}

footer {
    background-color: #1a1a1a;
    position: fixed;
    width: 100%;
    height: 20px;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}